/*Formato del body*/
body { 
    background-image: url("../Imagenes/fondopoke.jpg") 
}
/*div del logo*/
.titulo1{
    display: flex;
    margin-top: 1em;
    margin-left: 1rem;
    margin-right: 1rem; 

    justify-content: center;

}
/*formato de la imagen d pokemon*/
.logo{
    transition:cubic-bezier(0.47, 0, 0.745, 0.715);
    width: 20rem;
}
/*ubicacion y tamaño de la division pokedex*/
.fondoprueba{
    display: flex;

    width: 46rem;
    height: 36.2rem;
    justify-content: left;
}
.ubi{
    display: flex;
    margin-left: 0rem;
    margin-right: 0rem;
    justify-content: center;
}
.busqueda{
    width: 10rem;
    height: 2rem;
    background-color: #C2E8FF;
    font-size: 2rem;
    border: 1px;
    font-size: 2rem;
    position: relative;
    top: 23.5rem;
    left: -28rem;
    text-align: center;

}
.circulo{
    background-color: #BADFBd;
    height: 5rem;
    font-size: 1.5rem;
    font-family: fantasy;
    border-radius: 50%;
    position: relative;
    top: 25.2rem;
    right: 20.2rem;
}
